<%- include("partials/header") %>

<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Fiction">Fiction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Mystery">Mystery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Thriller"
            >Thriller</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Classic">Classic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Romance">Romance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Fantasy">Fantasy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Historical"
            >Historical</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Biography"
            >Biography</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link category-link" href="/category/Bestsellers"
            >Bestsellers</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center mt-3">
  <h1>Welcome to our Bookshop!</h1>
  <p>“A book must be the axe for the frozen sea within us.” – Franz Kafka</p>
  <div class="row justify-content-center">
    <% books.forEach(function(book) { %>
    <div class="card-container mb-4 cards-group-margin">
      <div class="card shadow-sm">
        <img
          src="<%= book.image %>"
          class="card-img-top"
          alt="<%= book.title %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <p class="card-text"><%= book.author %></p>
          <p class="price">$<%= book.price %></p>
          <form action="/add-to-basket/<%= book._id %>" method="POST">
            <input
              type="hidden"
              name="redirectUrl"
              value="<%= originalUrl %>"
            />
            <div
              class="d-flex justify-content-between align-items-center button-group"
            >
              <a
                href="/books/<%= book._id %>"
                class="btn btn-sm btn-outline-light"
                >View Details</a
              >
              <button type="submit" class="btn btn-sm btn-success">
                Add to Basket
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include("partials/footer") %>

<!-- External JavaScript file -->
<script src="/js/scripts.js"></script>
